# Dependency directories
node_modules/

# Environment variables
.env
*.env
!*.env.example

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Uploaded user files
uploads/*
!uploads/.gitkeep

# IDE files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
